$primaryColor: #ccc ;

body {
}
.container{
    display: flex;
    flex-direction: row;
    background: $primaryColor ;

   h1{
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
      background-color: #c232 ;
     }
}
